## SocialSonic Settings
SCS_NON_ADMIN_USER_CREATION=true
SCS_PORT=8054
### Authentication Settings
SCS_LEGACY_AUTH=false
SCS_DB_SALT=
### Library Scanner Settings
SCS_WATCHSERVICE_INTERVAL=5

## Postgres settings
DB_DB_NAME=SocialSonic
DB_HOST=host.docker.internal
DB_PORT=5535
DB_USER=Sonic
DB_PASSWORD=