## SocialSonic Settings
SCS_NON_ADMIN_USER_CREATION=true
SCS_PORT=8054
### Library Scanner Settings
SCS_WATCHSERVICE_INTERVAL=5

## Database settings
DB_DB_NAME=SocialSonic
DB_HOST=host.docker.internal
DB_PORT=5535
DB_USER=Sonic
DB_PASSWORD=