## SocialSonic Settings
SCS_NON_ADMIN_USER_CREATION=true
### Authentication Settings
SCS_LEGACY_AUTH=false
SCS_PORT=8054
SCS_DISABLE_SCROLLING=true

## Postgres settings
POSTGRES_DB=SocialSonic
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5535
POSTGRES_USER=Sonic
POSTGRES_PASSWORD=